.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    z-index: 300;
    padding: 20px;
    overflow: hidden;
    .mapContainer {
        width: 100%; 
        height: calc(100vh + 30px);  
        position: absolute;
        top: 0;
        left: 0;
    }
.closeMenuMobile{
    display: none;
    position: absolute;
    top: 35px;
    right: 25px;
    z-index: 500;
    cursor: pointer;

    @media screen and (max-width: 1023px) {
        display: block;
    }
    &::before{
        content: '';
        width: 2px;
        height: 20px;
        transition: background .3s ease 0s;
        background-color: #9d9da5;
        border-radius: 2px;
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
    }
    &::after{
        content: '';
        width: 20px;
        height: 2px;
        transition: background .3s ease 0s;
        background-color: #9d9da5;
        border-radius: 2px;
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
    }
    @media screen and (max-width: 1023px) {
        display: block;
    }
}
.closeMenu{
    font-size: 16px;
    line-height: 22px;
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    padding: 4px 12px 6px;
    background-color: #fff;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    @media screen and (max-width: 1023px) {
        display: none;
    }
}

.mapPlaceholder{

    position: absolute;
    width: calc(100% - 500px);
    height: 100vh;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 1023px) {
        display: none;
    }
    .error{
        z-index: 900;
        position: absolute;
        color: #242424;
        font-weight: 600;
        font-size: 16px;
    }
    img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    &::after{
        content: '';
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(134, 134, 149, 0.2);
        backdrop-filter: blur(10px);
    }

    .loader {
        width: 68px;
        height: 68px;
        border: 8px solid #cb11ab;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        position: absolute;
        top: 48%;
        left: calc(50% - 24px);
        z-index: 500;
        }
    
        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 
}

.searchAddressGroup{
    position: absolute;
    top: 10px;
    left: 518px;

    @media screen and (max-width: 1023px) {
        top: 80px;
        left: 15px;
    }
    .suggestionsList{
        width: 254px;
        background-color: #FFF;
        font-size: 13px;
        padding-top: 4px;
        display: flex;
        flex-direction: column;
        .suggestionItem{
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 8px;

            &:hover{
                background-color: #ffeba0;
            }
        }
        .active{
            background-color: #ffeba0;

        }
    }
    input{
        min-width: 254px;
        padding: 5px 10px;
        border: 2px solid transparent;
        transition: 0.3s ease border;
        background-color: #FFF;
        font-size: 14px;
        &:focus{
        border: 2px solid #ffdb4d;

        }
       
    }
    .findAddress{
        background: #ffdb4d;
        width: 60px;
        height: 29px;
        padding: 5px 12px;
        font-size: 13px;

        &:hover{
            background-color: #ffd633;
        }
    }
}

.Sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 508px;
    height: 100vh;
    background-color: #FFF;
    padding: 0 40px;
    padding-top: 28px;
    @media screen and (max-width: 1023px) {
        width: 100%;
        padding: 16px;
        padding-right: 44px;
        height: 72px;
        background-color: #FFF;
    }
    .title{
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: #242424;
        @media screen and (max-width: 1023px) {
            display: none;
        }
    }
    .tabsSwitch{
        width: 100%;
        background-color: #f1f1f5;
        border-radius: 10px;
        display: flex;
        padding: 2px;
        @media screen and (max-width: 1023px) {
            height: 40px;
        }
        .tabItem{
            flex-basis: 1;
            padding: 11px 12px;
            border-radius: 8px;
            width: 50%;
            text-align: center;
            cursor: pointer;
            font-size: 16px;
            color: #242424;
            font-weight: 600;
            line-height: 22px;
            user-select: none;
            @media screen and (max-width: 1023px) {
                font-size: 14px;
                line-height: 20px;
                padding-top: 8px;
            }
            &:hover{
                background: #e8e8f0;
            }
        }
        .activeTab{
            background-color: #FFF;
            cursor: auto;
            &:hover{
                background: #FFF;
            }
        }
    }

.pointsListContainer{
    width: calc(100% + 20px);
    @media screen and (max-width: 1023px) {
        width: 100%;
    }
}
/* Для Chrome, Safari и других браузеров на основе WebKit */
.pointsList::-webkit-scrollbar {
    width: 8px; /* Ширина трека */
    @media screen and (max-width: 1023px) {
       width: 4px;
    }
}

.pointsList::-webkit-scrollbar-track {
    display: none; /* Скрывает трек */
}

.pointsList::-webkit-scrollbar-thumb {
    background-color: #d3d4dd; /* Цвет ползунка */
    border-radius: 4px; /* Скругление углов ползунка */
}

    .pointsList{
        margin-top: 20px;
        overflow-y: auto;
        height: calc(100vh - 150px);
        padding-right: 20px;
        scrollbar-width: thin; 
        scrollbar-color: #d3d4dd transparent; 
        @media screen and (max-width: 1023px) {
            width: calc(100% + 40px);
            padding-right: 10px;
            height: calc(100vh - 72px);
        }
        .pointItem{
            padding: 12px;
            transition: 0.3s ease background;
            user-select: none;
            &:hover{
                background-color: #f6f6f9;
                cursor: pointer;
                border-radius: 8px;
            }
            .info{
                margin-top: 5px;
                .rating{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-size: 14px;
                    &::before{
                        content: url('data:image/svg+xml,%3Csvg%20width%3D%2226%22%20height%3D%2226%22%20fill%3D%22%23FCA95D%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m13.568%201.395%203.052%207.577%207.816.704c.542.05.762.758.35%201.132l-5.927%205.386%201.776%208.012c.123.557-.452.995-.918.699l-6.716-4.248-6.717%204.248c-.467.294-1.04-.144-.918-.7l1.777-8.011-5.93-5.387c-.411-.374-.192-1.083.352-1.132L9.38%208.97l3.053-7.576a.605.605%200%200%201%201.135%200Z%22%20stroke%3D%22%23FCA95D%22%2F%3E%3C%2Fsvg%3E');
                        display: block;
                        width: 12px;
                        height: 12px;
                        transform: scale(0.5);
                        position: relative;
                        top: -3px;
                    }

                    &::after{
                        content: 'Пункт выдачи';
                        font-size: 14px;
                        line-height: 20px;
                        color: #868695;
                        margin-right: 8px;
                        margin-top: 2px;
                    }
                }
            }
        }
    }
    .notSpecified{
        margin-top: 20px;
        @media screen and (max-width: 1023px) {
            display: none;
        }
        p{
            font-size: 16px;
            color: #868695;
            line-height: 22px;
            font-weight: 400;
            &:last-child{
                margin-top: 4px;
            }
            b{
                font-weight: 600;
                color: #242424;
            }
        }
    }

}

.addressDetails{
        position: fixed;
        left: -100%;
        width: 508px;
        height: 100vh;
        background-color: #FFF;
        padding: 0 40px;
        padding-top: 28px;
        transition: 0.5s ease left;
        @media screen and (max-width: 1023px) {
            top: auto;
            width: 100%;
            height: fit-content;
            left: 0;
            bottom: -100vh;
            transition: 0.5s ease bottom;
            padding: 16px;
        }
        .close{
            display: block;
            position: absolute;
            top: 32px;
            right: 32px;
            background-color: red;
            cursor: pointer;
            &::before{
                content: '';
                width: 2px;
                height: 20px;
                transition: background .3s ease 0s;
                background-color: #9d9da5;
                border-radius: 2px;
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) rotate(45deg);
            }
            &::after{
                content: '';
                width: 20px;
                height: 2px;
                transition: background .3s ease 0s;
                background-color: #9d9da5;
                border-radius: 2px;
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) rotate(45deg);
            }
        }

        .addressStreet{
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            color: #242424;
            padding-right: 40px;
            @media screen and (max-width: 1023px) {
                font-size: 18px;
                line-height: 24px;
                padding-right: 30px;
            }
        }
        .notFound{
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: #868695;
        }
        .city{
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: #868695;
            margin-top: 2px;
        }

        .form{
            margin-top: 20px;

            .appartament{
                display: flex;
                gap: 15px;
                align-items: flex-end;
                @media screen and (max-width: 1023px) {
                   gap: 5px;

                   .title{
                    width: 100%;
                    width: 200px;
                   }
                }
                .checkboxWrapper{

                    display: flex;
                    align-items: center;
                    margin-bottom: 11px;
                    gap: 10px;
                    .checkbox{
                        width: 22px;
                        height: 22px;
                        background: #fff;
                        border: 1px solid #d3d4dd;
                        border-radius: 6px;
                        position: relative;
                        cursor: pointer;
                        &::after{
                            content: '';
                            width: 6px;
                            height: 12px;
                            top: 3px;
                            left: 8px;
                            border-right: 2px solid #fff;
                            border-bottom: 2px solid #fff;
                            position: absolute;
                            transform: rotate(45deg);
                        }
                    }
                    .checkboxActive{
                        background: #cb11ab;
                        border-color: #cb11ab;

                    }
                    .label{
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                        color: #242424;
                    }
                }
            }
            .inputGroup{
                @media screen and (max-width: 1023px) {
                    width: 33%;
                }
                .title{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    color: #868695;
                }

                input{
                    width: 132px;
                    margin-top: 8px;
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: 400;
                    padding: 10px 14px 11px;
                    height: 44px;
                    border-radius: 8px;
                    border: 1px solid #d3d4dd;
                    color: #242424;
                    @media screen and (max-width: 1023px) {
                        width: 100%;
                        max-width: 312px;
                    }
                    &::placeholder{
                        color: #b9bfd3;
                    }
                    
                    &:focus{
                        border: 1px solid #cb11ab;

                    }
                }
                .disable{
                    background-color: #f6f6f9;
                }
            }

            .additionalInformation{
                margin-top: 20px;
                .title{
                    margin-bottom: 12px;
                    font-size: 16px;
                    line-height: 22px;
                    color: #242424;
                    font-weight: 400;
                }
                .additionalInfoInputs{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                   
                    .inputGroup{
                        .title{
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 22px;
                            color: #868695;
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .selectAddress{
                margin-top: 32px;
                padding: 8px 24px 10px 24px;
                border: 2px solid #d7d8e0;
                color: #c5c5ce;
                font-weight: 600;
                font-size: 16px;
                letter-spacing: 0;
                line-height: 22px;
                border-radius: 8px;
                cursor: auto;
                @media screen and (max-width: 1023px) {
                    width: 100%;
                }
            }
            .activeBtn{
                border: 2px solid #cb11ab;
                background-color: #cb11ab;
                color: #FFF;
                cursor: pointer;
                &:hover{
                    border: 2px solid #9c0f85;
                    background-color: #9c0f85; 
                }
            }

           
        }

        .deliveryCords{
            margin-top: 25px;
            .title{
                font-size: 16px;
                font-weight: 600;
                color: #242424;
                line-height: 22px;
                margin-bottom: 12px;
            }
            .cordItem{
                color: #868695;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                span{
                    color: #242424;
                }

                &:nth-child(3){
                    margin-top: 8px;
                }
            }

            .msgCoords{
                margin-top: 12px;
                font-size: 14px;
                font-weight: 400;
                color: #cb11ab;
            }

            .selectAddress{
                width: 116px;
                margin-top: 32px;
                padding: 8px 24px 10px 24px;
                border: 2px solid #cb11ab;
                background-color: #cb11ab;
                color: #FFF;
                font-weight: 600;
                font-size: 16px;
                letter-spacing: 0;
                line-height: 22px;
                border-radius: 8px;
                cursor: pointer;
            }
            
            .inactiveBtn{
                margin-top: 32px;
                padding: 8px 24px 10px 24px;
                border: 2px solid #d7d8e0;
                color: #c5c5ce;
                font-weight: 600;
                font-size: 16px;
                letter-spacing: 0;
                line-height: 22px;
                border-radius: 8px;
                cursor: auto;
            }
           
        }
}

.active{
        left: 0;

        @media screen and (max-width: 1023px) {
            bottom: 0px;
        }
}
}